---
import BaseLayout from "./BaseLayout.astro";
import avatar from "../images/avatar.jpg";
import config from "../config";

import twitter from "../images/twitter.svg";
import github from "../images/github.svg";
import telegram from "../images/telegram.svg";
import youtube from "../images/youtube.svg";

const contacts = [
  {
    icon: twitter,
    url: "https://twitter.com/randyloop",
    title: "Twitter",
  },
  {
    icon: github,
    url: "https://github.com/djyde",
    title: "Github",
  },
  {
    icon: telegram,
    url: "https://t.me/djyde",
    title: "Telegram",
  },
  {
    icon: youtube,
    url: "https://www.youtube.com/channel/UCFQUVJ0_ZGzvuX6GHl_cqsQ",
    title: "YouTube",
  },
];
---

<BaseLayout
  title={Astro.props.title
    ? `${Astro.props.title} | ${config.title}`
    : config.title}
>
  <div class="max-w-[640px] mt-12 md:mx-auto mx-5 space-y-14">
    <nav class="flex justify-between items-center">
      <a href="/">
      <h1 class="font-medium text-lg">{config.title}</h1>
      </a>

      <div class="flex gap-3 items-center">
        {config.navs.map(nav => {
          return (
            <div>
              <a class="link" href={nav.url}>
                {nav.title}
              </a>
            </div>
          )
        })}
      </div>
    </nav>

    <section>
      <slot />
    </section>
  </div>

  <footer class="py-12 text-center text-sm">
    Copyright © 2014-2024 Randy Lu
  </footer>
</BaseLayout>
