---
import BaseLayout from "./BaseLayout.astro"
import Donate from "../components/Donate.astro"
import TOC from "../components/TOC.astro"
import dayjs from "dayjs"
import config from "../config"
import Home from "./Home.astro"
const { frontmatter, headings } = Astro.props
---

<Home title={`${frontmatter.title}`} ogType="article" ogDescription={frontmatter.ogDescription} ogImage={frontmatter.ogImage}>
  <TOC headings={headings} />
  <div class="prose mx-auto px-4 lg:px-0 my-12 lg:my-12">
    <h1>{frontmatter.title}</h1>
    <div class="text-slate-500">
      {dayjs(frontmatter.date).format("YYYY/MM/DD")}
    </div>
    <slot />
    <hr />
    <div>
      <Donate />
    </div>
  </div>
</Home>
